body {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(49, 55, 66);
}
header, main, footer {
    max-width: 600px;
    margin: auto;
}
header{
    background-color: rgb(4, 211, 211);
    padding: .25rem;
}
h1 {
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    text-indent: 20px;
}
h2 {
    color: whitesmoke;
    font-size: 16px;
    margin-left: 25px;
}
img{
    width: 125px;
    height:185px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
ul {
    text-indent: 20px;
    color: whitesmoke;
    background-color: rgb(80, 91, 110);
    padding: 1em 0 1em;
}
li{
    padding-bottom: .5rem;
    list-style: none;
}
li:last-child{
    padding-bottom: 0;
}    
a{
    color: 	rgb(1, 255, 35);
    padding: .25rem;
}
.weblink{
    color: black;
}
footer{
    font-size: 12px;
    background-color: rgb(4, 211, 211);
    text-align: center;
    padding: .01rem;
}
