@media only screen and (min-width: 32.5em){
    body{
        font-size: 16px;
    }
    header{
        border-radius: 10px; 
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    footer{
        font-size: 16px;
        border-radius: 10px; 
    }
    img{
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
        float: right;
        margin-top: 15px;
        margin-right: 50px;
    }
    ul {
        text-indent: 50px;
        border-top-right-radius:30px;
        border-bottom-left-radius: 30px;
    }
    a{
        padding: .75rem;
    }
}
