@media only screen and (min-width: 48em) {
    img.hero {
        max-width: 100%;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
        font-size: 1em;
    }

    .navigation li:first-child {
        display: none;
    }

    .five {
        display: flex;
        flex-direction: column;
        color: black;
        font-size: 1em;
        font-weight: 900;
        text-align: center;
        background-image: url("../images/ocean.jpg");
    }

    .icon {
        max-width: 30%;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.75em;
        padding-top: 1em;
        margin: 0;
    }

    p {
        font-size: 1.15em;
        padding-left: 1em;
    }

    .rent {
        display: none;
    }

    img.collage {
        width: 450px;
        float: left;
        padding: .75em;
    }

    .article {
        margin-top: 7em;
    }

    .media {
        font-size: .75em;
    }

    .info {
        font-size: 1em;
    }

    /*rental rates*/
    .rent-pics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    figcaption {
        font-size: 1em;
    }

    .header {
        font-size: 1.25em;
    }

    tbody {
        font-size: .95em;
    }

}