body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.5em;
    background-image: linear-gradient(#7CEDE4, #0fd6d0, #0595B1, #004786);
    color: whitesmoke;
}

header,
main,
footer {
    max-width: 1065px;
    margin: auto;
}

.logo {
    max-width: 150px;
    float: left;
    margin-top: -2em;
    padding-right: 1em;
}

nav {
    max-width: 1065px;
    margin: auto;
    margin-top: 3em;
    background-color: #ffc670;
    padding: .15em;
}

.navigation {
    list-style: none;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: .75em;
    font-weight: 900;
    padding: .5em;
}

.navigation a:hover {
    background-color: #45cfd9;
    padding: .5em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

.current {
    border-bottom: 5px #004a72 solid;
}

.responsive li {
    display: block;
    ;
}

main {
    background-color: #004a72;
}

h1 {
    margin: auto;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 1em;
    color: #ff7770;
    padding: .25em;
}

.hero {
    width: 100%;
    position: relative;
}

h2 {
    color: black;
    font-size: .75em;
    border-bottom: 8px #ffc670 solid;
    font-family: "Staatliches", cursive;
}

.summary {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .75em;
    top: 1em;
    left: 2em;
    position: absolute;
    background-color: #45cfd9;
    border: .15em solid #000;
    border-bottom-right-radius: 1.5em;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    box-shadow: 2px 2px 10px black;
    opacity: .7;
    line-height: 0em;
    padding: 1em;
}

.summary p {
    font-weight: 800;
    color: black;
}

p {
    font-size: .5em;
    font-weight: 700;
}

.five {
    display: none;
}

.weather{
    text-align: left;
    margin-left: 1em;
    padding: .15em;
    border-bottom: none;
    color: #ebb564;
    font-weight: normal;
}

h3 {
    color: #ff7770;
    text-align: center;
    border-bottom: 5px #ffc670 solid;
    font-family: "Staatliches", cursive;
    font-size: .8em;
}

.rent {
    display: none;
}

.collage {
    max-width: 75%;
    padding-left: 2em;
}

.article {
    text-align: center;
    font-size: .5em;
}

.button-wrapper {
    display: block;
    text-align: center;
}

.button {
    border: 3px #45cfd9 solid;
    background: linear-gradient(#ffc670, #45cfd9);
    border-radius: 3em;
    display: inline-block;
    font-size: .5em;
    padding: .5em;
    width: auto;
}

.text {
    color: black;
    font-weight: 800;
    font-size: 10px;
}

.media {
    text-align: center;
    font-weight: 700;
    font-size: .5em;
    margin: 0em;
}

.fa {
    padding: 10px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 2px white solid;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: linear-gradient(#710ccf, #ff5cdc, #ffc670);
    color: white;
}


.fa-youtube {
    background: #bb0000;
    color: white;
}

.contact {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

footer {
    font-size: 1em;
    color: black;
    background-color: #ffc670;
    text-align: center;
    padding: .5rem;
}

.foot {
    background-color: #ffc670;
    margin: 0;
    border-style: none;
}

/*form*/
img.wave {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 4em;
    border-bottom-left-radius: 4em;
}

.title {
    position: relative;
    margin-top: -1.5em;
    color: #d8706a;
}

.con {
    margin: auto;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;
    color: #ff7770;
    padding: .25em;
    border: none;
}

.terms {
    position: relative;
    border: 3px whitesmoke solid;
    padding: 1em;
}

form fieldset {
    max-width: 30em;
    margin: auto;
    border: 2px solid;
    border-radius: 10px;
}

form legend {
    color: whitesmoke;
    margin: 0 1rem;
    font-size: 1em;
    padding: 0 .5rem;
    text-align: center;
}

form.top {
    padding-bottom: 2em;
}

form label.top {
    display: block;
    padding: .75em;
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
}

form label.top input,
form label.top select {
    display: block;
    font-size: 1rem;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    margin: auto;
}

form label.sbs {
    display: block;
    padding: .75em;
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
}

form input.submitBtn {
    border: none;
    background-color: #45cfd9;
    color: black;
    border-radius: .5em;
    width: 100%;
    margin: 0 0 5rem 40%;
    max-width: 8em;
    padding: .5em;
}

form label.top input:required {
    border-left: 8px solid;
}

form label.top input:required:valid {
    border-left: 8px solid;
}

textarea {
    resize: vertical;
    min-width: auto;
    min-height: .5rem;
}

.thanks {
    text-align: center;
    font-size: 20px;
    padding-bottom: .5em;
}

/*thank you*/
.thanks {
    text-align: center;
    padding: 1em;
}

.thanks img {
    margin: auto;
    border-top-right-radius: 5em;
    border-bottom-left-radius: 5em;
    position: relative;
    ;
}

.thanks p {
    font-size: 1.25em;
}

/*contact*/
iframe {
    max-width: 100%;
    padding-top: 1em;
}

.qa {
    line-height: 1.5;
}

/*tours*/

.tour {
    text-align: center;
    padding: 1em;
}

.visit {
    color: #ff7770;
    font-weight: normal;
}

.info {
    color: black;
    font-size: .5em;
    background-color: #45cfd9;
    border-bottom-left-radius: 4em;
    border-top-right-radius: 4em;
    padding: 1em;
}

.info a {
    color: black;
    background: linear-gradient(#ffd57c, #ff7770);
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    padding: .5em;
}