body {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(49, 55, 66);
}
header main footer {
    max-width: 550px;
    margin: auto;
}
header{
    text-indent: 2em;
    background-color: rgb(4, 211, 211);
    border-radius: 10px;
    padding: .5rem;
}
header h1{
    margin: 0 0 0 17px;
    font-size: 16px;
}
h1 div{
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Anton', sans-serif;
}
h2 {
    color: whitesmoke;
    font-size: 16px;
    margin-left: 25px;
}
img{
    width: 15%;
    height: auto;
    max-width: 100%;
    float: left;
    border-top-right-radius: 3em;
    border-bottom-left-radius: 3em;
    padding: none;
}
.ham{
    color: turquoise;
}
nav{
    margin: auto;
    background-color: black;
    padding: .05em;
}
.navigation{
    list-style: none;
    padding: 0em;
}
.navigation li:first-child{
    display: block;
}
.navigation li{
    display: none;
}
.navigation a{
    display: block;
    padding: .5em;
    text-align: center;
    text-decoration: none;
    color: rgb(1, 255, 35);
    font-size: 14px;
}
a:hover{
    background-color: rgb(49, 55, 66);
    padding: .5em;
}
.responsive li{
    display: block;
}
main{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(80, 91, 110);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: whitesmoke;
    padding: .5em;
}
p{
    text-align: center;
}
.weblink{
    color: black;
}
footer{
    font-size: 12px;
    background-color: rgb(4, 211, 211);
    border-radius: 10px;
    text-align: center;
    padding: .5rem;
}
.foot{
    background-color:  rgb(4, 211, 211);
    margin: 0;
    border-style: none;
}
