@media only screen and (min-width: 20em){
    header h1{
        margin: 0 0 0 14px;
    }
    nav ul{
        text-align: center;
        font-size: 12px;
    }  
    nav li:first-child{
        display: block;
        display: none;
    }
    .responsive li{
        display: block;
    }
}