@media only screen and (min-width: 400px){
	body{
        font-size: 18px;
    }
    h1{
        font-size: 22px;
	}
	h2{
		font-size: 22px;
	}
    div{
        font-size: 16px;
    }
	img{
        max-width: 100%;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 auto;
	}
	.navigation li:first-child {
		display: none;
	}
	.overlay{
		font-size: 12px;
		}
		.five{
			display: flex;
			flex-direction: column;
			text-align: center;
			background-color: black;
			border: 8px solid black;
		}
		table{
			display: table;
			border-collapse: separate;
			color: rgb(4, 211, 211);
		}
		.five td{
			border: 1px solid whitesmoke
		}
	.firstline{
		float: right;
		margin: 0 0 0 1%;
	}
	.contact{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		border-top-color: rgb(4, 211, 211);
		border-top-style: solid;
		border-top-width: 5px;
		padding: 1em;

	}
	.map{
		display: block;
		width: 250px;
		margin: 0em;
		border-color: black;
		border-style: solid;
		border-width: 5px;
	}
}


