@media only screen and (min-width: 48em){
    body{
        font-size: 20px;
    }
    h1{
        font-size: 22px;
    }
    .large{
        display: block;
    }
    .small, .med{
        display: none;
    }
    div{
        font-size: 18px;
    }
    footer{
        font-size: 14px;
    }
    }
    