@media only screen and (max-width: 50em) and (min-width: 32.5em){
    body{
        font-size: 14px;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    h1 {
        font-size: 25px;
    }
    h2{
        font-size: 16px;
    }
    .section-one{
        grid-column: 1/2;
    }
    .section-two{
        grid-column: 2/2;
    }
    .section-three{
        grid-column: span 2/ span 2;
    }
    section{
        background-color:rgb(80, 91, 110);
        border-color: rgb(80, 91, 110);
        border-style: ridge;
        border-width: .25em;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        padding: .5em;
    }

    footer{
        font-size: 14px;
        border-radius: 10px; 
    }
}
