body {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(49, 55, 66);
}
header, main, footer {
    max-width: 500px;
    margin: auto;
}
header{
    background-color: rgb(4, 211, 211);
    padding: .25rem;
}
h1 {
    text-align: center;
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    text-indent: 20px;
}

picture img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 1em;
}
img[data-src] {
    filter: blur(3px);
}

img {
    filter: blur(0em);
    transition: filter 1s;
}

.weblink{
    color: black;
}
footer{
    font-size: 12px;
    background-color: rgb(4, 211, 211);
    text-align: center;
    padding: .01rem;
}
