@media only screen and (min-width: 900px){
    body{
        font-size: 20px;
    }
    h1{
        font-size: 24px;
    }
    .top{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .news{
        border-left: 5px solid black;
        border-top: none;
    }
    .rodeo{
        max-width: 300px;
        margin-left: .25em;
        z-index: 2;
        transform: rotate(-15deg);
    }
    .music{
        max-width: 300px;
        display: block;
        margin-top:-8em; 
        margin-right: .5em;
        transform: rotate(10deg);
    }

    .towns {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .info {
        display: block;
    }
    section{
        border-bottom: none;
        border-left: 1em solid rgb(4, 211, 211);
        border-right: 1em solid rgb(4, 211, 211);
        padding: .5em;
    }
    .card{
        display: flex;
        flex-direction: column;
    }

    .card:nth-child(odd){
        flex-direction: column;
	}}
    