@media only screen and (min-width: 800px){
    body{
        font-size: 20px;
    }
    h1{
        font-size: 24px;
    }
    .top{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .news{
        border-left: 5px solid black;
        border-top: none;
    }
    .rodeo{
        margin-left: .25em;
        z-index: 2;
        transform: rotate(-15deg);
    }
    .music{
        display: block;
        margin-top:-8em; 
        margin-right: .5em;
        transform: rotate(10deg);
    }
    .towns{
        display: flex;
        flex-direction: row;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .info{
        display: flex;
        flex-direction: column;
    }
    img{
        max-width: 300px;
    }
    footer{
        font-size: 14px;
    }
    }
    