@media only screen and (min-width: 500px){
	body{
        font-size: 18px;
    }
    h1{
        font-size: 22px;
	}
    div{
        font-size: 16px;
    }
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 auto;
	}
	.navigation li:first-child {
		display: none;
	}
	.towns{
		display: flex;
		flex-direction: row;
	}
	.towns:nth-child(odd) {
		flex-direction: row-reverse;
		justify-content: space-evenly;
		align-content: center;
}
}
